:root {
  --prymary: #ff4c29;
  --secondary: #080c25;
  --tertiary: steelblue;
  --quartiary: #f7f7f7;
  --warn: #da0037;
  --success: #00da49
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--quartiary);
}

.warn {
  font-size: small;
  color: #da0037;
}

.alert {
  font-size: small;
  border: solid 1px #ff4c29;
  color: var(--tertiary);
  border-radius: 4px;
  padding: 8px 0;
  text-align: center;
}

.failure {
  font-size: small;
  font-weight: bold;
  border: solid 1px var(--warn);
  background-color: #e874957a;
  color: var(--tertiary);
  border-radius: 4px;
  padding: 8px 0;
  text-align: center;
}

.success {
  font-size: small;
  font-weight: bold;
  border: solid 1px var(--success);
  background-color: #62eb977a;
  color: var(--tertiary);
  border-radius: 4px;
  padding: 8px 0;
  text-align: center;
}

label {
  font-size: small;
}

.input-elem {
  padding: 16px 0;
  width: 100%;
}

.input-elem label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: small;
}

.input-elem input {
  width: 100%;
  padding: 4px 8px;
  margin: 8px 0;
  font-size: medium;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid;
}

.input-elem input:focus {
  background-color: transparent;
}

.btn-element {
  display: flex;
  justify-content: space-around;
  padding: 16px 0;
}

button {
  font-size: medium;
  font-weight: bold;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: darkgray;
}

a {
  color: var(--tertiary);
}

.transfer-up {
  color: var(--success);
}

.transfer-down {
  color: var(--warn);
}