.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  color: var(--prymary);
  height: 35vh;
}

.forms-container {
  padding: 12px 24px;
  max-width: 400px;
  margin: 0 auto;
}

.forms-container h1 {
  text-align: center;
  color: var(--prymary);
  padding: 16px 0;
}

.forms-container button {
  background-color: var(--prymary);
  color: var(--quartiary);
}

.forms-container .redirect-link-element {
  text-align: right;
  padding: 8px 0;
}

@media (min-width: 920px) {
  .login-register-container {
    display: flex;
    flex-direction: row;
  }

  .title-container {
    width: 50%;
    height: 100vh;
  }

  .forms-container {
    margin: auto;
  }
}